.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;

  &__text {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 24px;
    color: $color-white;
    padding: 6px 14px;
    transition: color 0.3s ease-in-out;
    pointer-events: none;
  }

  &:has(.radio__field:hover) .radio__text {
    color: $color-very-dark-cyan;
  }

  &:has(.radio__field:checked) .radio__text {
    color: $color-very-dark-cyan;
  }

  &__field {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;

    &:hover {
      &:before {
        background-color: #9fe8df;
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: $color-very-dark-cyan;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    &:checked {
      &:before {
        background-color: $color-strong-cyan;
      }
    }
  }
}
