.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
  gap: 41px;
  padding: 50px 0 0 0;

  @media (min-width: 991px) {
    padding: 50px 0;
    gap: 88px;
  }
}
