$color-strong-cyan: #25bfab;
$color-very-dark-cyan: #00474b;
$color-dark-grayish-cyan: #5e797d;
$color-grayish-cyan: #7f9c9e;
$color-light-grayish-cyan: #c5e4e7;
$color-very-light-grayish-cyan: #f4f9fa;
$color-white: #ffffff;
