$color-strong-cyan: #26c2ae;
$color-very-dark-cyan: #00474b;
$color-dark-grayish-cyan: #5e7a7d;
$color-grayish-cyan: #7f9c9e;
$color-light-grayish-cyan: #c5e4e7;
$color-very-light-grayish-cyan: #f3f9fa;
$color-white: #ffffff;
$color-error: #E17457;

$color-test: #547878;
