.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: 991px) {
      margin-bottom: 25px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    color: $color-white;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 13px;
    color: $color-grayish-cyan;
  }

  &__count {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    color: $color-strong-cyan;

    @media (min-width: 991px) {
      font-size: 48px;
    }
  }
}
